.sidenav .mat-toolbar {
  background: inherit;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background-color: #3f2a56;
  color: white;
}

a.social_link:hover {
  opacity: 0.8;
}

svg.social_svg {
  width: 40px;
  height: 40px;
}

.navitem {
  margin: 10px 5px;
  padding: 0;
}